/*$dark: #111 ;
light: #DFCECE ;
*/

body.dark-mode{
	background-color: #111111; /*dark*/
	color: #DFCECE; /*light*/	
}	
	button.dark-mode {
		background-color: #DFCECE; /*light*/
		color: #111111; /*dark*/
	}

body.light-mode{
	background-color: #DFCECE; /*light*/
	color: #111111; /*dark*/
}
	button.light-mode {
		background-color: #111111; /*dark*/
		color: #DFCECE; /*light*/
	}

a{
	color: #111111 ; /*dark*/
}

button {
	background-color: #c96c16f3;
	border: red;
	color: black;
	font-size: 9px;
	padding: 4% 2%;
	border-radius: 1%;
	text-align: center;
	font-family: futura;
	font-weight: bold;
}
button:hover {
	background-color: #590505;
}
body{
	margin: 0 5%;
	padding: 0 10%;
	font-family: futura;
	font-weight: bold;
}
header{
	text-align: center;
}
footer{
	text-align: center;
}
hr.dark-mode{
	color: #DFCECE;
	height: 1px;
  	background-color: #DFCECE;
  	border: none;

}
hr.light-mode{
	color: #111111;
	height: 1px;
  	background-color: #111111;
  	border: none;
}
p{
	margin: 0;
	display: inline-block;
	font-family: futura;
	font-weight: bold;
}
p.toggletext{
	padding: 0;
	z-index: 2;
	font-family: futura;
	font-weight: bold;
}
#toggleSetup{
	float: right;
}