/*$dark: #111 ;
light: #DFCECE ;
*/

body.dark-mode{
	background-color: #111111; /*dark*/
	color: #DFCECE; /*light*/	
}	
	button.dark-mode {
		background-color: #DFCECE; /*light*/
		color: #111111; /*dark*/
	}

body.light-mode{
	background-color: #DFCECE; /*light*/
	color: #111111; /*dark*/
}
	button.light-mode {
		background-color: #111111; /*dark*/
		color: #DFCECE; /*light*/
	}

a{
	color: #111111 ; /*dark*/
}

button {
	background-color: #c96c16f3;
	border: red;
	color: black;
	font-size: 9px;
	padding: 4% 2%;
	border-radius: 10%;
	text-align: center;
	font-family: futura;
	font-weight: bold;
}
button:hover {
	background-color: #590505;
}
body{
	margin: 0 5%;
	padding: 0 10%;
	font-family: futura;
	font-weight: bold;
}
header{
	text-align: center;
	font-size: 40px;
}
footer{
	text-align: center;
}
br.dark-mode{
	color: #DFCECE;
	height: 1px;
  	background-color: #DFCECE;
  	border: none;

}
br.light-mode{
	color: #111111;
	height: 1px;
  	background-color: #111111;
  	border: none;
}
p{
	margin: 0;
	display: inline-block;
	font-family: futura;
	font-weight: bold;
}
p.toggletext{
	padding: 0;
	z-index: 2;
	font-family: futura;
	font-weight: bold;
}
#toggleSetup{
	float: right;
}

h2{
	text-align: center;
	padding: 10px;
	font-size: 30px;
}

.panelsAll{
	display: grid;
	grid-template-columns: auto auto;
	grid-gap: 10px;
	justify-content: center;
	align-content: center;
	padding: 15px;
}
.image{
	height: auto;
	max-width: 100%;
	opacity:1;
	display: block;
	transition: .75s ease;
}

@media screen and (max-width: 750px){
	.panelsAll{
		grid-template-columns: auto;
		display: grid;
		grid-gap: 10px;
		justify-content: center;
		align-content: center;
		padding: 10px;
	}
}

.container {
	position: relative;
  }

.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .75s ease;
	
  }
  
  .container:hover .overlay{
	opacity: 1;
  }
  .container:hover .image{
	  opacity: .41;
  }
  
  .text {
	color: #590505;
	font-size: 30px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: futura;
	font-weight: bold;
  }
  
