$dark: #111 ;
$light: #DFCECE ;
$accent: #096850 ;

/* dark mode stuff */
	body.dark-mode{
		background-color: $dark; /*dark*/
		color: $light; /*light*/	
	}	
		button.dark-mode {
			background-color: $light; /*light*/
			color:$dark; /*dark*/
		}

	body.light-mode{
		background-color: $light; /*light*/
		color: $dark; /*dark*/
	}
		button.light-mode {
			background-color: $dark; /*dark*/
			color: $light; /*light*/
		}

	a.dark-mode{
		color: $light ; /*dark*/
		text-decoration: none;
	}
		#email.dark-mode:visited{
			color: $light ; /*dark*/
			text-decoration: none;
			color: $accent;
		}
	a.light-mode{
		color: $dark ; /*light*/
		text-decoration: none;
	}
		#email.light-mode:visited{
			color: $dark ; /*light*/
			text-decoration: none;
		}
	
	#email{
		text-decoration: none;
		color: $accent;
	}
		#email:hover{
			color: $accent;
		}

	button {
		background-color: $accent;
		border: red;
		color: black;
		font-size: 9px;
		padding: 4% 2%;
		border-radius: 50% 25%;
		text-align: center;
		font-family: futura;
		font-weight: bold;
	}
	button:hover {
		background-color: $accent;
		cursor: pointer;
	}

	br.dark-mode{
		color: $light;
		height: 1px;
		  background-color: $light;
		  border: none;
	
	}
	br.light-mode{
		color: $dark;
		height: 1px;
		  background-color: $dark;
		  border: none;
	}

	
/* regular items */	
	body{
		margin: 0 5%;
		padding: 0 10%;
		font-family: futura;
		font-weight: bold;
	}
	header{
		text-align: center;
		font-size: 40px;
	}
	h2{
		text-align: center;
		padding: 10px;
		font-size: 30px;
	}
	#footer1{
		float:left;
	}
		#footer2{
			float: right;
		}
	p{
		margin: 0;
		display: inline-block;
		font-family: futura;
		font-weight: bold;
	}
		p.toggletext{
			padding: 0;
			z-index: 2;
			font-family: futura;
			font-weight: bold;
		}
		#toggleSetup{
			float: right;
		}
	hr{
		width: 100%;
	}

/* the project panels and everything that comes with that */ 
	.panelsAll{
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 10px;
		justify-content: center;
		align-content: center;
		padding: 15px;
	}
	.image{
		height: auto;
		max-width: 100%;
		opacity:1;
		display: block;
		transition: .75s ease;
	}
	.overlay {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		height: 100%;
		width: 100%;
		opacity: 0;
		transition: .75s ease;
		
	}

	.container {
		position: relative;
		cursor: pointer;
	}	
	.container:hover .overlay{
		opacity: 1;
	}
	.container:hover .image{
		opacity: .41;
	}
	
	.text {
		color: $accent;
		font-size: 40px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-family: futura;
		font-weight: bold;
	}
/* this where all the stuff for the overlay of the panels gonna be */
	.overlayBig{
		position: fixed;
		display: none;
		width: auto;
		max-height: auto;
		top: 10%;
		left: 13%;
		right: 13%;
		bottom: 15%;
		background-color: $accent;
		opacity: .986;
		z-index: 2;
		cursor: auto;
		border-radius: 10px;
		transition: 1.5s ease;
	}

	p.inOverlay{
		font-size: 50px;
		text-align: center;
	}
	p.CloseinOverlay{
		font-size: 35px;
		text-align: center;
		float: right;
		margin-right: 5px;
		cursor: pointer;
		color: $light;
	}
		p.CloseinOverlay:hover{
			color: rgb(131, 120, 120);
			
		}
		p.inOverlaytext{
			font-size:25px;
		}

	#oB1.overlayBig{
		background-color: $accent;
	}
	#oB2.overlayBig{
		background-color: $accent;
	}
	#oB3.overlayBig{
		background-color: $accent;
	}
	#oB4.overlayBig{
		background-color: $accent;
	}
	#oB5.overlayBig{
		background-color: $accent;
	}
	#oB6.overlayBig{
		background-color: $accent;
	}
	

/* this for the mobile experience */
	@media screen and (max-width: 750px){
		.panelsAll{
			grid-template-columns: auto;
			display: grid;
			grid-gap: 10px;
			justify-content: center;
			align-content: center;
			padding: 10px;
		}
		#overlayBig{
			top: 40%;
			left: 10%;
			right: 10%;
			bottom: 10%;
		}
		p.inOverlaytext{
			font-size:15px;
		}
		.text{
			font-size: 50px;
		}
	}
	@media screen and (max-width: 466px){
		header{
			font-size:20px;
		}
		p.inOverlaytext{
			font-size:50%;
		}
	}
	@media screen and (max-height: 550px){
		p.inOverlaytext{
			font-size:80%;
		}
	}
	@media screen and (max-height: 466px){
		p.inOverlaytext{
			font-size:50%;
		}
	}
	@media screen and (max-height: 200px){
		p.inOverlaytext{
			font-size:20%;
		}
	}